<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportesActividadSemana13.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=mssql-46601-0.cloudclusters.net,19839;Initial Catalog=Northwind;User ID=Cris;Password=DBSistem2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>